/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
* CUSTOM SCAFFOLDING
* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
.full-width {width: 100%}
.half-width {width: 50%}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
* CUSTOM FONT
* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
@font-face {
    /*font-family: "Neutra Text TF Book";
    src: url('../fonts/NeutraTextTF-Book.otf');*/
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
* BROWSER MOD
* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
th:focus,
textarea:focus,
input:focus,
a:active,
button:active {
    outline: 0;
}
a:active,
button:active {
    border: none;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
* BOOTSTRAP MOD
* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    margin: 0 auto;
    position: relative;
}
.well {
    position: relative;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
* SCROLLBAR
* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* width */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #F6F6F6; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------
* LAYOUT
* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
html {
    -webkit-font-smoothing: antialiased !important;
}
html * {
        -webkit-font-smoothing: antialiased !important;
}
body {
    
}
#div_PageLoader {
    background: rgba(255, 255, 255, 0.95);
    display: none;
    border-radius: 20px;
    left: 50%;
    padding: 0 40px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 40%;
    z-index: 1;
}
body.page_fadein .site_container{
    opacity: 1;
}
body.page_fadeout .site_container{
    opacity: 0;
}
body.page_fadeout #div_PageLoader {
    display: block;
}
/*.scroll_wrapper {max-height: 100vh;}*/
.site_container {
    margin: 0 auto;
    position: relative;
    transition:opacity 0.5s ease-in-out;
}
a {
}
a:link,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none !important;
}
a:hover {
    
}
button {
    
}
p {
    margin-bottom: 10px;
}
footer {
    margin: 0 auto;
    width: 100%;
}